@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #e0e0e0;
	font-family:'Times New Roman', Times, serif;
	padding-bottom: 80px;
}
h1{
    text-align: center;
}

.container {
	margin: 0 auto;
	max-width: 600px;
}

.post {
	background-color: #fff;
    
	border-radius: 8px;
	padding: 40px;
	margin: 20px 0;
}

.title {
	margin: 0;
}

.text {

	margin: 20px 0;
}

.user {
	display: flex;
	align-items: center;
    
}

.user img {
    margin:2%;
	border-radius: 20%;
	height: 100px;
	width: 100px;
}

.user span {
	font-size: 13px;
	margin-left: 10px;
}

.load{
	opacity: 0;
	display: flex;
	position: fixed;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	transition: opacity .3s ease-in;
}

.load.show {
	opacity: 1;
}

.dot {
	background-color: #777;
	border-radius: 50%;
	margin: 5px;
	height: 10px;
	width: 10px;
	animation: jump .5s ease-in infinite;
}

.dot:nth-of-type(2) {
	animation-delay: 0.1s;
}

.dot:nth-of-type(3) {
	animation-delay: 0.2s;
}

@keyframes jump {
	0%, 100% {
		transform: translateY(0);
	}
	
	50% {
		transform: translateY(-10px);
	}
}